.menu{padding: 50px 0; margin: -10px -10px 10px -10px; background: black;}

.menu ul{width: 100%; text-align: center;}

.menu li{display: inline-block; margin-right: 20px;}

.centro{text-align: center; }

.menu a{color: white; font-size: 25px;}

body{background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 }

